<ion-view title="Crear Minga" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="crearMinga-form1" class="list">
      <label class="item item-input" id="crearMinga-input2">
        <span class="input-label">Nombre de la Minga:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="crearMinga-input3">
        <span class="input-label">¿Cual sera la Recompenza?</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="crearMinga-toggle3">¿Sera Publica?</ion-toggle>
      <label class="item item-select" id="crearMinga-select1">
        <span class="input-label">Categoria:</span>
        <select>
          <option>Mover Cosas</option>
          <option>Reparacion</option>
          <option>Construccion</option>
          <option>Beneficio</option>
          <option>Conocimiento</option>
        </select>
      </label>
    </form>
    <a ui-sref="tabsController.detallesDeLaActividad" id="crearMinga-button1" class="button button-positive  button-block">Crear Minga</a>
  </ion-content>
</ion-view>