<ion-view title="Detalles de la Minga:" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="detallesDeLaMinga-heading2" style="color:#000000;">Cambio de casa</h1>
    <ion-list id="detallesDeLaMinga-list2">
      <ion-item class="item-thumbnail-left" id="detallesDeLaMinga-list-item10">
        <img src="img/NBMz3VFgT8C8HdUkFnsO_1524097-zz.jpg">
        <h2>Organiza:</h2>
        <p>Juanito Peres</p>
      </ion-item>
    </ion-list>
    <div id="detallesDeLaMinga-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Invito a todos mis amigos a participar!</p>

      <p style="color:#000000;">Debo cambiarme de casa, </p>

      <p style="color:#000000;">recompensare a los que participen con unas Cervezitas y buena onda!</p>
    </div>
    <h1 id="detallesDeLaMinga-heading3" style="color:#000000;">Lugar:</h1>
    <ion-list id="detallesDeLaMinga-list3">
      <ion-item class="item-icon-left" id="detallesDeLaMinga-list-item11">
        <i class="icon ion-android-alarm-clock"></i>25 de Febrero 18:00 Horas</ion-item>
      <ion-item class="item-icon-left" id="detallesDeLaMinga-list-item12">
        <i class="icon ion-map"></i>Mi casa! :)</ion-item>
    </ion-list>
  </ion-content>
</ion-view>