<ion-view title="Detalles del premio" id="page11">
  <ion-content padding="true" class="has-header">
    <h1 id="detallesDelPremio-heading4" style="color:#000000;">Cena para 2</h1>
    <div id="detallesDelPremio-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Objetivo:</strong> Realizar 2 Mingas. El primer usuario que realice 2 mingas publicas obtendra una cena para 2 personas. </p>
    </div>
    <div class="item item-body" id="detallesDelPremio-list-item-container5">
      <div id="detallesDelPremio-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Objetivo</strong>: Realizar 2 mingas Publicas.</p>
      </div>
      <div id="detallesDelPremio-markdown10" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Premio</strong>: Cena para 2 personas.</p>
      </div>
      <div id="detallesDelPremio-markdown11" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>validez</strong>: Solo por el mes de Julio</p>
      </div>
    </div>
    <div>
      <img src="img/fbZJsQlnTabNqHNyxmgx_cena-para-dos.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>