<ion-view title="Iniciar Sesion" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="iniciarSesion-form2" class="list">
      <ion-list id="iniciarSesion-list4">
        <label class="item item-input" id="iniciarSesion-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="iniciarSesion-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="iniciarSesion-button2" class="button button-stable  button-block">iniciar Sesión</button>
      <a href-inappbrowser="/signup" id="iniciarSesion-button3" class="button button-positive  button-block button-clear">O create una cuenta! :)</a>
    </form>
  </ion-content>
</ion-view>