<ion-view title="Mingas Cercanas Participa!" id="page2">
  <ion-content padding="true" style="background: url(img/95Cq8n4oRq6SXMqJoLUT_slqsm.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="mingasCercanasParticipa-card22">
      <ion-item class="item-thumbnail-left" id="mingasCercanasParticipa-list-item32">
        <img src="img/Dgws5IWRYezjQ4ofVjh3_cena-para-dos.jpg">
        <h2>Ademas, podras obtener:</h2>
        <p style="white-space:normal;">Cena para 2 personas auspiciado por Restaurant Chiloe</p>
      </ion-item>
    </div>
    <ion-list id="mingasCercanasParticipa-list9">
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item2" ui-sref="tabsController.detallesDeLaActividad">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
    </ion-list>
    <ion-list id="mingasCercanasParticipa-list10">
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item13" ui-sref="tabsController.detallesDeLaActividad">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Conversatorio Popular</h2>
        <p>Recompensa: Conversacion</p>
        <i class="icon ion-android-happy"></i>
      </ion-item>
    </ion-list>
    <ion-list id="mingasCercanasParticipa-list1">
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item14" ui-sref="tabsController.detallesDeLaActividad">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Construir invernadero</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-wrench"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item15" ui-sref="tabsController.detallesDeLaActividad">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item16" ui-sref="tabsController.detallesDeLaActividad">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item17" ui-sref="tabsController.detallesDeLaActividad">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item18" ui-sref="tabsController.detallesDeLaActividad">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>