<ion-view title="Mingas Cercanas Participa!" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="mingasCercanasParticipa-list1">
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item2" ui-sref="tabsController.detallesDeLaMinga">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item13" ui-sref="tabsController.detallesDeLaMinga">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item14" ui-sref="tabsController.detallesDeLaMinga">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item15" ui-sref="tabsController.detallesDeLaMinga">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item16" ui-sref="tabsController.detallesDeLaMinga">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item17" ui-sref="tabsController.detallesDeLaMinga">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mingasCercanasParticipa-list-item18" ui-sref="tabsController.detallesDeLaMinga">
        <img src="img/yHjNEXo4RtSnrz2vcn1H_1524097-zz.jpg">
        <h2>Cambio de Casa</h2>
        <p>Recompensa: Cervezas por la tarde.</p>
        <i class="icon ion-android-home"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>