<ion-view title="Perfil:" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="perfil-card21">
      <ion-item class="item-avatar" id="perfil-list-item8">
        <img src="img/lpPysd3QSOgfPe8wYRwe_1524097-zz.jpg">
        <h2>Perfil de: Juanito Peres</h2>
      </ion-item>
      <div class="item item-body" id="perfil-list-item-container2">
        <div id="perfil-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Mingas Creadas:
            <strong>10</strong>
          </p>

          <p style="color:#000000;">Participacion en Mingas:
            <strong>100</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>