<ion-view title="Premios" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="premios-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Al participar en
        <strong>mingas</strong> o crearlas puedes participar por premios aportados por tu comunidad.</p>
    </div>
    <ion-list id="premios-list7">
      <ion-item class="item-thumbnail-left" id="premios-list-item20" ui-sref="tabsController.detallesDelPremio">
        <img src="img/kn4QObazTIeI5exNWSCJ_cena-para-dos.jpg">
        <h2>CENA PARA 2</h2>
        <p style="white-space:normal;">Objetivo: Realizar 2 Mingas. Los usuarios que realizen 2 mingas publicas obtendran una cena para 2 personas. </p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="premios-list-item21">
        <img src="img/Bonkvz2aQyzBFeB4jnrA_decuentosypromociones.jpg">
        <h2>50% de descuento.</h2>
        <p style="white-space:normal;">Objetivo: Participar en 1 minga publica.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="premios-list-item22">
        <img src="img/Bonkvz2aQyzBFeB4jnrA_decuentosypromociones.jpg">
        <h2>10% de descuento.</h2>
        <p style="white-space:normal;">Objetivo: Participar en 1 minga publica.</p>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.premiarALaComunidad" id="premios-button10" style="border-radius:15px 15px 15px 15px;" class="button button-balanced  button-block">¿Desean aportar con algun Premio? Presiona Este Boton</a>
  </ion-content>
</ion-view>