<ion-view title="Registrarse" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="registrarse-form4" class="list">
      <ion-list id="registrarse-list6">
        <label class="item item-input" id="registrarse-input9">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrarse-input10">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="registrarse-input11">
          <span class="input-label">Contraseña</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="registrarse-select2">
          <span class="input-label">Ciudad</span>
          <select>
            <option>Quellon</option>
            <option>Castro</option>
            <option>Ancud</option>
          </select>
        </label>
        <ion-item class="item-avatar" id="registrarse-list-item9">
          <h2>Foto de Perfil</h2>
        </ion-item>
      </ion-list>
      <button id="registrarse-button9" class="button button-positive  button-block icon-right ion-images">Selecciona Foto de Perfil</button>
      <button id="registrarse-button5" class="button button-balanced  button-block icon-right ion-checkmark-round">Registrarse</button>
    </form>
  </ion-content>
</ion-view>